
* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin-left: 7%;
    margin-right: 7%;
    background-color: rgba(192, 192, 192, 0.1);
}

h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;
}

.student-gray {
    color: #505355;
}

.italic-text {
    font-style: italic;
}

#student-picture img{
    border-radius: 50%;
}

#main-grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    " headline  headline student-picture "
    " student-quote student-quote student-picture"
    "student-profile student-profile student-contact "
    "experience-grid ";
    row-gap: 20px;
    column-gap: 50px;
    align-items: center;
}
#main-grid > #student-picture,
#main-grid > #student-contact {
  text-align: center;
}
#main-grid > #headline {
    grid-area: headline;
}
#main-grid > #student-picture{
    grid-area: student-picture;
}
#main-grid > #student-quote {
    grid-area: student-quote
}
#main-grid > #student-profile {
    grid-area: student-profile
}
#main-grid > #student-contact {
    grid-area: student-contact
}
#experience-grid {
    display: grid;
    grid-area: experience-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "experience-code experience-code"
      "experience-web experience-design"
      "experience-database experience-database";
    grid-gap: 20px;
    column-gap: 50px;
}
#experience-grid > #experience-code {
    grid-area: experience-code
}
#experience-grid > #experience-database{
        grid-area: experience-database
    }
#experience-grid > #experience-web {
            grid-area: experience-web
        }
#experience-grid > #experience-design {
                grid-area: experience-design
            }
            @media (max-width: 1024px) {
                .main-grid {
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  grid-template-rows: repeat(5, auto);
                  grid-template-areas:
                    "student-picture headline"
                    "student-quote student-contact"
                    "student-quote student-contact"
                    "student-profile student-skills"
                    "student-education student-experience";
                  row-gap: 20px;
                  column-gap: 35px;
                }
              
                .experience-grid {
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  grid-template-rows: repeat(2, auto);
                  grid-template-areas:
                    "experience-code experience-database"
                    "experience-web experience-design";
                  row-gap: 20px;
                  column-gap: 20px;
                }
              
                .student-quote {
                  grid-area: student-quote;
                }
              
                .student-contact {
                  grid-area: student-contact;
                }
              }